page-sudoku-home {
    .sdk-cell{
        width: 10%;
    }
    input{
        width: 100%;
    }
    
}

.allsquare{
    background-color: #029474;
}
.oddspuare{
    background-color: rgb(128, 196, 115);
}
.evensquare{
    background-color: rgb(169, 189, 228);
}

.staticValue
{
    font-family: Segoe UI, Arial;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    color: #6C0000;
}

.staticValue,.editValue
{
    padding: 0px;
    margin: 0px;
    border: 1px solid #DA0603;
    box-sizing: border-box;
}

.editValue:hover
{
    background: #c29a9a;
}

.editValue input
{
    font-family: Segoe UI, Arial;
    font-size: 30px;
    color: #FFFFFF;
    padding: 0px;
    border: 0px;
    background: none !important;
    text-align: center;
    vertical-align: middle;
    position: relative;
    left: -1px;
}