<ion-header>

  <ion-navbar color="primary">
    <ion-title>sudoku</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Level</ion-label>
    <ion-select [(ngModel)]="level">
      <div *ngFor="let item of levelOptions">
        <ion-option [value]="item.value">{{item.name}}</ion-option>
      </div>
    </ion-select>
  </ion-item>
  <ion-grid class="allsquare">
    <ion-row>
      <ion-col>
        <button block ion-button (click)="change()">Change</button>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row *ngFor="let x of matrix;let i=index;">
      <ion-col class="pd0 sdk-cell" style="padding:0" *ngFor="let y of x;let j=index;" [ngClass]="{'evensquare':calcColor(i,j),'oddspuare':!calcColor(i,j)}">
        <div *ngIf="originMatrix[i][j]" class="staticValue">{{matrix[i][j]}}</div>
        <div *ngIf="!originMatrix[i][j]" class="editValue">
          <input type="number" min='1' max='9' [readonly]="peeking" [(ngModel)]="matrix[i][j]">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button block ion-button (click)="check()">Check</button>
      </ion-col>
      <ion-col>
        <button block ion-button (click)="peek()">Peek</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>